.no-arrow::-webkit-inner-spin-button {
  display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.red-line {
  outline-color: var(--clr-strawberry-red) !important;
}

.input-field {
  flex-direction: column;
  --gap: .2rem;

  input {
    padding: .5rem;
    border: none;
    outline: 1px solid var(--clr-cool-gray);
    
    border-radius: 3px;

    &:focus {
      border: 1px solid var(--clr-cool-gray);
      outline-color: var(--clr-purplish-blue);
    }
  }
}

.input-container {
  margin-top: 1rem;
  --flow-space: .5rem;
}

.error-text {
  color: var(--clr-strawberry-red);
}

.input-text {
  justify-content: space-between;
}

@media (min-width:45em) {
  .input-field {
    input {
      width: 100%;
      padding: .7rem;
    }
  }

  .input-container {
    margin-top: 1rem;
    --flow-space: 1.5rem;
  }
}